<div class = user-image>

<h4><%= @user.email %></h4>
</div>

<div>
  <h3>Your WriteNow history</h3>
  <% @past_projects.each do |project| %>
  	<%= project.title %>
  <% end %>
  <%= @current_project.title %> (Your current project!)
</div>