<div class = user-image>

<h4><%= @user.email %></h4>
</div>
<br>
<br>
<div>
  <h3>Your Write Now History</h3>
  <% @user.projects.each do |project| %>
    <% if project != @user.projects.last %>
      <%= project.title %>
    <% else %>
      <%= project.title %> (Your current project!)
    <% end %>
  <% end %>
</div>