<div class="container-fluid" id="headerSection">
  <div class="row">
  <div class="col-md-12 wrapper">
      <span class="main_header"></span><span id="typed-cursor" class="blinking">|</span>
    </div>
    <div class="col-md-12 tagline">
      <p class="taglineText">a motivational tool for writers</p>
    </div>
  </div>
</div>