<div class="completed_project">
  <h1>Your writing project <strong><em><%= @project.title.titleize %></em></strong> is over!</h1>

  <div class="project_message">
    <% if @successful %>
      <h2>Great job achieving your goals!</h2>

      <%= link_to "create another project", root_path %>

    <% else %>
      <h2>Try harder next time, lazy ass</h2>

      <%= link_to "create another project", root_path %>

    <% end %>
  </div>
</div>