<div class="form-group">
  <div class="input-group">
    <%= f.label :goal_deadline_date, "Goal Deadline Date" %>
    <%= f.date_field :goal_deadline_date, class: 'form-control', placeholder: 'title' %>
  </div>
</div>