<div class="form-group">
  <div class="input-group">
    <%= f.label :goal_time_limit, "Goal Time Limit" %>
    <%= f.text_field :goal_time_limit, class: 'form-control', placeholder: 'title' %>
  </div>
</div>