/*
Necessary top-padding for fixed nav-bar! Don't remove this style.
*/
body {
  padding-top: 50px;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #18506E;
    height: 55px;
    .navbar-brand {
        color: #EBA500;
    }
    // margin: 15px 15px;
    border: 1px solid #EBA500;
    border-radius: 5px;
}

#headerSection {
    margin-top: 30px;
}

.nav.navbar-nav.navbar-right li a {
    color: #EBA500;
    text-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.wrapper {
    text-align: center;
}
.maindiv {
	background-color: #F6F0E8;
	font-family: "HelveticaNeue-Medium";
}

.main_header {
	font-size: 970%;
	text-align: center;
	font-weight: 900;
	text-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

.taglineText {
	color: #F39C12;
	font-family: 'Kaushan Script', cursive;
	font-size: 300%;
	text-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.tagline {
    margin: auto;
    display: none;
}

#typed-cursor {
	color: #2E3D48;
	font-weight: 100;
	font-size: 1000%;
}

#typed-cursor.blinking {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,to {
        color: transparent;
    }
    50% {
        color: #333333;
    }
}

@-moz-keyframes blink {
	from,to {
        color: transparent;
    }
    50% {
        color: #333333;
    }
}

@-webkit-keyframes "blink" {
	from,to {
        color: transparent;
    }
    50% {
        color: #333333;
    }
}

@-ms-keyframes "blink" {
	from,to {
        color: transparent;
    }
    50% {
        color: #333333;
    }
}

@-o-keyframes "blink" {
	from,to {
        color: transparent;
    }
    50% {
        color: #333333;
    }
    .quotes {
        font-size: 1.5em;
    }
}

.user-signup {
    padding-top: 10px;
    h1 {
        color: #EBA500;
        text-shadow: 0 1px 2px #18506E;
    }
    .btn.btn-default {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    input {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    .input-group-addon {
        border: 1px solid #18506E;
        color: #EBA500;
    }

}

.user-login {
    padding-top: 10px;
    h1 {
        color: #EBA500;
        text-shadow: 0 1px 2px #18506E;
    }
    .btn.btn-default {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    input {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    .input-group-addon {
        border: 1px solid #18506E;
        color: #EBA500;
    }
}

.new-project {
    padding-top: 10px;
    h1 {
        color: #EBA500;
        text-shadow: 0 1px 2px #18506E;
        padding-bottom: 10px;
    }
    .btn.btn-default {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    input {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    .input-group-addon {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    .create-project {
        width: 130px;
        height: 50px;
        margin-top: 10px;
    }
    .unitToggle span {
        margin: 0 10px;
    }
}

#updateProject {
    padding-top: 10px;
    h1 {
        color: #EBA500;
        text-shadow: 0 1px 2px #18506E;
        padding-bottom: 10px;
    }
    .btn.btn-default {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    input {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    .input-group-addon {
        border: 1px solid #18506E;
        color: #EBA500;
    }
}

.editAccount {
    padding-top: 10px;
    margin-bottom: 15px;

    h1 {
        color: #EBA500;
        text-shadow: 0 1px 2px #18506E;
        padding-bottom: 10px;
    }
    .btn.btn-default {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    input {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    .input-group-addon {
        border: 1px solid #18506E;
        color: #EBA500;
    }
}

.updateWordCount {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 15px;

    h1 {
        color: #EBA500;
        text-shadow: 0 1px 2px #18506E;
        padding-bottom: 10px;
    }
    .btn.btn-default {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    input {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    .input-group-addon {
        border: 1px solid #18506E;
        color: #EBA500;
    }
    label {
        color: #18506E;
        font-size: 12pt;
        padding: 5px;
    }
}

.progress {
    margin-top: 15px;
    border: 1px solid #EBA500;
}

.progress-bar {

}

.currentProject {
    h1, h2, h3, h4, h5, h6, li {
        color: #18506E;
    }
    a {
        color: #EBA500;
        text-decoration: underline;
    }
    .col-md-12 {
        padding: 0;
    }
    p {
        font-size: 35pt;
        color: #EBA500;
    }
    h1 {
        font-size: 40pt;
    }
    span {
        color: #EBA500;
    }
}
.projectDivider {
    background-color: #18506E;
    height: 1px;
    width: 70%;
}

.editProjectForm {
    label, h3 {
        color: #18506E;
    }
    .btn.btn-default {
        margin-top: 24px;
    }
    margin-bottom: 20px;
}

@media (max-width: 675px) {
    .main_header {
        font-size: 600%;
    }
}

@media (max-width: 500px) {
    .main_header {
        font-size: 440%;
    }
}
